
<div class="content" role="main">
  <div class="wrapper">
    <div class="figure"></div>
    <div class="wave">
      <svg height="160" width="300" xmlns="http://www.w3.org/2000/svg">
      <radialGradient id="gradient" cx="0.55" cy="0.5" r="0.65" fx="50%" fy="0">
        <stop class="alt-stop" offset="8%"></stop>
        <stop class="main-stop" offset="100%"></stop>
      </radialGradient>

        <path _ngcontent-ors-c0="" d="M10 30
            C 40 10, 65 10, 95 30
            C 120 50, 150 60, 190 30
            C 220 10, 250 10, 265 20
            L145 160
            Z"
            fill="url(#gradient)">
        </path>
      </svg>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
